<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kowala</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Kowala</h1>
    <div>
        <a href="{{ url_for('lessons') }}">
            <button>Go to Lessons</button>
        </a>
        <a href="{{ url_for('quizzes') }}">
            <button>Go to Quizzes</button>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home-loans">Home Loans</a></li>
            <li><a href="/hecs">HECS</a></li>
            <li><a href="/quiz">Quiz</a></li>
        </ul>
    </nav>
</body>
</html>