
{% extends "layout.html" %}
{% block content %}
  <div>
    <div class="title_linebreak">
        <h2 style="margin-bottom: 0px">Today's practice</h2>
        <hr style="width: 50%">
    </div>
    <div class="cards">
        <div class="coursecard" id="course1">
            <br>
            <h3 class="content">Introduction to HECS</h3>
            <br>
            <p class="content">Learn how HECS-HELP works, eligibility criteria, how to manage your debt, and the repayment process. This course will demystify student loans and provide you with the knowledge to make informed decisions about financing your education.</p>
        </div>
        <div class="coursecard" id="course2">
            <br>
            <h3 class="content">Understanding Taxes</h3>
            <br>
            <p class="content">This course covers the fundamentals of income tax, GST, tax returns, and deductions. Learn how taxes impact your income and discover strategies to maximize your tax efficiency.</p>
        </div>

    </div>

  </div>

<br> 
  <div class="Coursesforyou">
    <div class="title_linebreak">
        <h2 style="margin-bottom: 0px">Courses for you</h2>
        <hr style="width: 50%">
    </div>

    <div class="cards">
        <div class="coursecard" id="course3">
            <h3 class="content">Payday Routine</h3>
            <br>
            <p class="content">Master the essential steps for managing your finances effectively with each payday. This course will guide you through budgeting, saving, and allocating funds for expenses and investments. Develop a routine that ensures financial stability and helps you reach your financial goals.</p>
        </div>
        <div class="coursecard" id="course4">
            <h3 class="content">Invest or Save?</h3>
            <br>
            <p class="content">Understand the benefits and risks of different investment options and savings strategies. Learn how to evaluate your financial situation and goals to make informed decisions that balance security with growth.</p>
        </div>
    </div>
  </div>
{% endblock content %}
