<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kowala</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Kowala</h1>

    

    <div>
        <div class="title_linebreak">
            <h2 style="margin-bottom: 0px">Today's practice</h2>
            <hr style="width: 50%">
        </div>

        <div class="cards">
            <div class="coursecard" id="course1">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course2">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course3">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course4">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course5">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
    
        </div>
 

    </div>
  
    

    <div class="Coursesforyou">
        <div class="title_linebreak">
            <h2 style="margin-bottom: 0px">Courses for you</h2>
            <hr style="width: 50%">
        </div>

        <div class="cards">
            <div class="coursecard" id="course1">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course2">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course3">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course4">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
            <div class="coursecard" id="course5">
                <img src="https://via.placeholder.com/120x150"></img>
                <h3 class="content">course title</h3>
                <p class="content">course description</p>
            </div>
        </div>
   
    </div>


    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home-loans">Home Loans</a></li>
            <li><a href="/hecs">HECS</a></li>
            <li><a href="/quiz">Quiz</a></li>
        </ul>
    </nav>
</body>
</html>