<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lessons</h1>
    <div>
        <a href="{{ url_for('home') }}">
            <button>Home</button>
        </a>
        <a href="{{ url_for('quizzes') }}">
            <button>Go to Quizzes</button>
        </a>
    </div>
    <ul>
        {% for lesson in lessons %}
        <li>
            <h2>{{ lesson.title }}</h2>
            <p>{{ lesson.content }}</p>
        </li>
        {% endfor %}
    </ul>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home-loans">Courses</a></li>
            <li><a href="/hecs">Goals Calculator</a></li>
            <li><a href="/quiz">Quiz</a></li>
        </ul>
    </nav>
</body>
</html>
